Options -MultiViews
RewriteEngine On
RewriteBase /

# Przekieruj wszystkie żądania do index.html, jeśli plik nie istnieje
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
